* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Giovanni-Book-Regular;
    src: url("Resources/Giovanni.otf");
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .leftElement, .rightElement {
    width: 30%;
  }

  .leftElement h4 {
    text-align: center;
    margin-right: 50%;
    font-family: Giovanni-Book-Regular;
    font-size: larger;
  }
    
  .rightElement button{
    align-items: center;
    float: right;
    margin-top: 5%;
    margin-right: 40%;
    transition: 0.4s;
    background-color: #CC0033;
    padding: 20px;
    font-family: Giovanni-Book-Regular;
    font-size: larger;
    color: white;
    
  }
 
  .rightElement button:hover{
    background-color: black; /* Green */
    color: white;
  }
  .titleDiv{
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: 10px;
    max-width: 50px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 200px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  img{
    width:100%;
    max-width:1000px;
    width: 400px;
}

h1{
  margin: auto;
  width: 100%;
  display: inline;
  
}
.title{
 
  color: #CC0033;
  font-size: 60px;
  text-align: center;
  font-family: Giovanni-Book-Regular;
  flex-grow: 1;
  
}


footer{
  text-align: center;
  padding: 40px;
  background-color:#CC0033;
}

.row{
  display: flex;
  margin-bottom: 20px;
  
}

.middleColumn{
  float: left;
  width: 40%;
  background-color: gray;
  margin-right: 20px;

}

.leftColumn{
  float: left;
  width: 30%;
  background-color: gray;
  padding-left: 20px;
  
}
.rightColumn{
  float: left;
  width: 30%;
  background-color: gray;
  
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.leftImgs img{
margin-left: 10%;
width: 80%;
padding: 20px 20px;
height: 500px;
}


.rightImgs img{
 width: 90%; 
 padding: 10px;
 margin-left: 5%;

}
